<ion-header>
  <ion-navbar>
    <ion-title>
      Detalhes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <main id="details-content">

    <section class="details__info">
      <div class="details__info--col1">
        <h1 class="details__info--title">{{ product.description }}</h1>
        <p class="details__info--enfase">Máquina <strong>{{ product.machine.description }}</strong></p>
        <p class="details__info--enfase">Perto de <strong>{{ product.machine.local }}</strong></p>
        <p *ngIf="!!product.quantity" class="details__info--enfase">Quantidade <strong>{{ product.quantity }}</strong></p>
        <p *ngIf="!product.quantity" class="details__info--enfase"><strong>ESGOTADO</strong></p>
      </div>
      <div class="details__info--col2">
        <img class="details__info--imageProduct" [src]="product.machine.urlImage">
      </div>
    </section>

    <div id="map"></div>

  </main>
</ion-content>
